<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <% if !current_user %> 
       <%= link_to "Sign Up", new_user_registration_path %>
       <%= link_to "Sign IN",new_user_session_path %>
       <% else %>
       <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
       <% end %>
    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
